/* You can add global styles to this file, and also import other style files */
ul {
  list-style-type: none;
  background: -prefix-linear-gradient(left top, rgb(82, 212, 169), rgb(45, 201, 6));
  background: linear-gradient(to bottom right, rgb(236, 120, 90), rgb(129, 207, 39));
  color: rgb(0, 0, 0);
}
